<div data-role="view" id="view-all-activities" data-layout="default" class="activities-view" data-model="app.Activities">
    <div data-role="header">
        <div data-role="navbar">
            Friends
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.Activities.logout">Logout</a>
            <a class="nav-button" data-align="right" data-role="button" href="views/addActivityView.html">Add</a>
        </div>
    </div>
<br>
    <div class="wrapper">
        
   
    
    <div class="header flt" >As on<br>
04/08/2014</div> 
    
     <div class="text frt" >Welcome Deepika K</div>
        <br>
        
        <div class="clr mrT20"></div>
         <div class="form-group flt">
 
  <select class="form-control" id="sel1" style="width:200px;">
    <option>All</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>
 
      <div class="form-group frt">
  <select class="form-control" id="sel1" style="width:100px;">
    <option>INR</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>  
        <div class="clr"></div>
       
        </div>     
   <h1>
       Portfolio >
        </h1> 
    
   
    <div class="flt">
    <h2>Investment Value</h2>
        <h3><strong>Capital invested</strong></h3>
            
        
    </div>
      
    <div class="frt">
    <h2>Income</h2>
        <h4>
          0  
        </h4>
         <h3>Short Term</h3>
         <h4>0</h4>
         <h3>Long Term</h3>
        <h4>0</h4>
         <h3>Dividend</h3>
    </div>
    
    <div class="clr"></div>
    <h1>
       Holdings >
        </h1> 

 <h2>Current Allocation</h2>
</div>
<div data-role="footer">
        <div data-role="navbar">
            Friends
            <a class="nav-button" data-align="left" data-role="backbutton" data-click="app.Activities.logout">Logout</a>
            <a class="nav-button" data-align="right" data-role="button" href="views/addActivityView.html">Add</a>
        </div>
    </div>


    <ul id="activities-listview" data-style="inset" data-role="listview" data-template="activityTemplate"
        data-bind="source: activities"></ul>
    <p id="no-activities-span" hidden="hidden" class="no-items-msg">
        <b>You have no posts yet.</b><br><br>Tap on the plus sign and share what's on your mind.
    </p>


<!-- Activities ListView Template -->
<script type="text/x-kendo-template" id="activityTemplate">
    <div data-role="touch" data-bind="events: { tap: activitySelected }" class="cf">
        <div class="user-avatar">
            <img data-bind="attr:{src: User().PictureUrl}" alt="#: User().DisplayName #">
        </div>
        <div class="activity-content">
            <h2 class="person-name">#: User().DisplayName #</h2>
            <div data-bind="visible: Picture">
                <img id="picture" class="picture" data-bind="attr:{src: PictureUrl()}" width="100%">
            </div>
            <a class="user-share-txt">#: Text #</a>
            <span class="time-span">#: CreatedAtFormatted() #</span>
        </div>
    </div>
</script>
